__pycache__
ResNet50
ResNet50.zip
.venv
ucMerced/multilabels.zip
ucMerced/UCMerced_LandUse.zip
ucMerced/UCMerced_LandUse
ucMerced/multilabels
pickleRick/
ucMerced/
*.sh
trainingdata.csv
testShape.py
DCT_UC_Merced/
*.out
test1.py
testModel.py
